/* Write your code here: */
h1, h2 {
  color: blueviolet;
}

/* parent-child */
.box > p{
  color: firebrick;
}

/* descendant */
.box li{
  color: blue;
}

/* chaining */
li.done{
  color: seagreen;
}
