<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <title>Food Blog</title>
</head>
<body>
  <%- include("partials/navbar.ejs") %>
  <div class="container text-center mt-5">

    <% if (locals.blogs && blogs.length > 0) { %>
      <h1>Blogs</h1>
     <% blogs.forEach(blog => { %>
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= blog.title %></h2>
          <p><%= blog.blog %></p>
        </div>
      </div>
     <% }); %>
    <% } else { %>
      <h1>No blogs yet. Start <a href="/write">writing</a>!</h1>
    <% } %>
  </div>
</body>
</html>
